<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee_Contacts</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/add">ADD</a></li>
        <li><a href="/search">SEARCH</a></li>
        <li><a href="/update">UPDATE</a></li>
        <li><a href="/delete">DELETE</a></li>
      </ul>
    </nav>
    {{#if msg}}
      <div class="alert success">
        <span class="closebtn">&times;</span>
        <strong>Data Deleted From DataBase</strong>
      </div>
    {{/if}}
    {{#if checkmesg}}
      <div class="alert error">
        <span class="closebtn">&times;</span>
        <strong>Name and Phone_no already Exist in DataBase!</strong>
      </div>
    {{/if}}
    <form action="/deteledata" class="employee-contact-form">
      <h2>Delete Employee Details</h2>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />
      </div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone" required />
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>